/*
Copyright 2019 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
*/

body {
  padding: 12px;
}

.label {
  line-height: 36px;
  margin-right: 8px;
  font: bold 12px sans-serif;
}

.u-gapRight {
  margin-right: 8px;
}
