<!--
Copyright 2019 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.
-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Action</title>
  <link rel="stylesheet" href="../global.css">
</head>
<body>
  <form>
    <label>
      <span class="label">Visitor Name</span>
      <input id="name">
    </label>
  </form>

  <script src="//assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>
    window.extensionBridge.register({
      init: function(info) {
        document.getElementById('name').value = (info.settings && info.settings.name) || '';
      },

      getSettings: function() {
        return {
          name: document.getElementById('name').value || ''
        };
      },

      validate: function() {
        return true;
      }
    });
  </script>
</body>
</html>
